extends layout

block content
  link(rel='stylesheet', href='/css/chatroom.css')

  .col-lg-12
    .col-lg-4.pull-right
      fb:login-button(scope='public_profile,email', onlogin='checkLoginState();',data-max-rows='1', data-size='xlarge', data-show-faces='true', data-auto-logout-link='true')
      #status


    .col-lg-12
      hr
    .row
      .col-lg-3.col-lg-offset-1
        .btn-panel.btn-panel-conversation
          a.btn.col-lg-6.send-message-btn(href='', role='button')
            i.fa.fa-search
            |  Search
          a.btn.col-lg-6.send-message-btn.pull-right(href='', role='button')
            i.fa.fa-plus
            |  New Message
      .col-lg-7
        .btn-panel.btn-panel-msg
          a.btn.col-lg-3.send-message-btn.pull-right(href='', role='button')
            i.fa.fa-gears
            |  Settings
    .row
      .conversation-wrap.col-lg-3.col-lg-offset-1
        .media.conversation.hide
          a.pull-left(href='#')
            img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 50px; height: 50px;', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC')
          .media-body
            h5.media-heading Naimish Sakhpara
            small Hello

      .message-wrap.col-lg-7
        .msg-wrap
          .media.msg.hide
            a.pull-left(href='#')
              img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 32px; height: 32px;', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACqUlEQVR4Xu2Y60tiURTFl48STFJMwkQjUTDtixq+Av93P6iBJFTgg1JL8QWBGT4QfDX7gDIyNE3nEBO6D0Rh9+5z9rprr19dTa/XW2KHl4YFYAfwCHAG7HAGgkOQKcAUYAowBZgCO6wAY5AxyBhkDDIGdxgC/M8QY5AxyBhkDDIGGYM7rIAyBgeDAYrFIkajEYxGIwKBAA4PDzckpd+322243W54PJ5P5f6Omh9tqiTAfD5HNpuFVqvFyckJms0m9vf3EY/H1/u9vb0hn89jsVj8kwDfUfNviisJ8PLygru7O4TDYVgsFtDh9Xo9NBrNes9cLgeTybThgKenJ1SrVXGf1WoVDup2u4jFYhiPx1I1P7XVBxcoCVCr1UBfTqcTrVYLe3t7OD8/x/HxsdiOPqNGo9Eo0un02gHkBhJmuVzC7/fj5uYGXq8XZ2dnop5Mzf8iwMPDAxqNBmw2GxwOBx4fHzGdTpFMJkVzNB7UGAmSSqU2RoDmnETQ6XQiOyKRiHCOSk0ZEZQcUKlU8Pz8LA5vNptRr9eFCJQBFHq//szG5eWlGA1ywOnpqQhBapoWPfl+vw+fzweXyyU+U635VRGUBOh0OigUCggGg8IFK/teXV3h/v4ew+Hwj/OQU4gUq/w4ODgQrkkkEmKEVGp+tXm6XkkAOngmk4HBYBAjQA6gEKRmyOL05GnR99vbW9jtdjEGdP319bUIR8oA+pnG5OLiQoghU5OElFlKAtCGr6+vKJfLmEwm64aosd/XbDbbyIBSqSSeNKU+HXzlnFAohKOjI6maMs0rO0B20590n7IDflIzMmdhAfiNEL8R4jdC/EZIJj235R6mAFOAKcAUYApsS6LL9MEUYAowBZgCTAGZ9NyWe5gCTAGmAFOAKbAtiS7TB1Ng1ynwDkxRe58vH3FfAAAAAElFTkSuQmCC')
            .media-body
              small.pull-right.time
                i.fa.fa-clock-o
                |  12:10am
              h5.media-heading Naimish Sakhpara
              small.msg-content.col-lg-10
                | Location H-2, Ayojan Nagar, Near Gate-3, Near
                | Shreyas Crossing Dharnidhar Derasar,
                | Paldi, Ahmedabad 380007, Ahmedabad,
                | India
                | Phone 091 37 669307
                | Email aapamdavad.district@gmail.com
          .alert.alert-info.msg-date
            strong Today
        .send-wrap
          textarea.form-control.send-message(rows='3', placeholder='Write a reply...')
        .btn-panel
          a.col-lg-3.btn.send-message-btn(href='#', role='button')
            i.fa.fa-cloud-upload
            |  Add Files
          a.col-lg-4.text-right.btn.send-message-btn.pull-right(href='#', role='button')
            i.fa.fa-plus
            |  Send Message

block script
  script(type='text/javascript').
    var socket = io()
    var initUserList = false
    var chatToId = ''

    socket.on("addAllOnlineUser", function (result) {
      addAllUserToList(result)
    });

    socket.on("everyoneAddNewUser", function (user) {
      addAllUserToList([user])
    });

    socket.on("everyoneRemoveUser", function (user) {
      removeUserFromList(user)
    });

    socket.on('chat message', function (fromWho, msg) {
      var msgDiv = $('.media.msg:first').clone()
      msgDiv.removeClass('hide')
      //msg.attr('data-id', user.id)
      msgDiv.find('.media-body .media-heading').text(fromWho)
      msgDiv.find('.media-body .msg-content').text(msg)
      $('.msg-wrap').append(msgDiv)
    });

    function addAllUserToList(result) {
      result.forEach(function (user) {
        var conversation = $('.media.conversation:first').clone()
        conversation.removeClass('hide')
        conversation.attr('data-id', user.id)
        conversation.find('.media-body .media-heading').text(user.username)
        $('.conversation-wrap').append(conversation)
      })
    }

    function removeUserFromList(user) {
      $('.media.conversation[data-id="'+user.id+'"]').remove()
    }

    // 點選綁定要傳送的人id
    $(document).on( "click", ".media.conversation", function( e ) {
      chatToId = $(this).attr('data-id')
      $(this).addClass('bg-primary')
      $(this).siblings('.media.conversation').removeClass('bg-primary')
    });

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        testAPI();
      } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
      } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        document.getElementById('status').innerHTML = 'Please log ' +
                'into Facebook.';
      }
    }
    // This function is called when someone finishes with the Login
    // Button.  See the onlogin handler attached to it in the sample
    // code below.
    function checkLoginState() {
      FB.getLoginStatus(function (response) {
        console.log('getLogst拿到!!:', JSON.stringify(response))
        statusChangeCallback(response);
      });
    }
    window.fbAsyncInit = function () {
      FB.init({
        appId: '997857923594603',
        cookie: true,  // enable cookies to allow the server to access
        // the session
        xfbml: true,  // parse social plugins on this page
        version: 'v2.5' // use graph api version 2.5
      });
      // Now that we've initialized the JavaScript SDK, we call
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.
      FB.getLoginStatus(function (response) {
        statusChangeCallback(response);
      });
    };
    // Load the SDK asynchronously
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/zh_TW/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function (response) {
        console.log('整個response', response)
        console.log('Successful login for: ' + response.name);
        document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
      });
    }
    //Below we include the Login Button social plugin. This button uses
    //the JavaScript SDK to present a graphical Login button that triggers
    //the FB.login() function when clicked.

    $(function () {
      getUsername()

      function getUsername(){
        $.ajax({
          url: '/api/username',
          type: 'get'
        })
        .done(function (data) {
          if (data.result === 'error') {
            $('.username').removeClass('hide')
            $('.username').text('尚未登入')
          } else {
            $('.username').removeClass('hide')
            $('.username').text(data.username)
          }
        })
        .fail(function (data) {
          notifyAlert(JSON.stringify(data.msg));
        });
      }

      $('textarea.send-message').keydown(function(e) {
        if (e.keyCode == 13) {
          //socket.emit('chat message', $(this).val());
          socket.emit('chat to id', chatToId, $(this).val());
          $(this).val('')

          return false;
        }
      });

      $('.send-message-btn').click(function (e) {
        e.preventDefault();
        //socket.emit('chat message', '幹他娘');
        socket.emit('chat to id', chatToId, '幹他娘');
      })

      $('.setName').click(function () {
        $.ajax({
          url: '/api/username',
          type: 'PUT',
          data: $('form').serialize()
        })
        .done(function (data) {
          if (data.result === 'error') {
            notifyAlert(JSON.stringify(data.msg));
          } else {
            notifySuccess('設定成功');
            $('.username').removeClass('hide')
            $('.username').text(data.username)
            location.reload()
          }
        })
        .fail(function (data) {
          notifyAlert(JSON.stringify(data));
        });
      })

      // 避免跳頁
      $('form').submit(function (e) {
        e.preventDefault();
      })
    })

